Package: org.thebigboss.batterypercentagefs
Name: Battery Percentage Flipswitch
Depends: mobilesubstrate, com.a3tweaks.flipswitch
Version: 0.0.1
Architecture: iphoneos-arm
Description: Flipswitch for battery percentage.
Maintainer: PoomSmart
Author: PoomSmart
Section: Addons (Flipswitch)